<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="ONRCampagneVideoEntities" connectionString="metadata=res://*/OnrCampagneVideo.csdl|res://*/OnrCampagneVideo.ssdl|res://*/OnrCampagneVideo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=onrvideo.database.windows.net;initial catalog=ONRCampagneVideo;persist security info=True;user id=blaireau47;password=!Q2w3e4r;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="OnrUrl" value="https://eblais_test:1234qwer@onr-pilote.com/app/api/eveningStatistics?eveningId=2281" />

      <add key="SENDGRID_APIKEY" value="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" />
      <add key="SENDGRID_ERRORTEMPLATEID" value="ef6403fe-c9f1-481c-8fe8-5086e7a29547" />
      <add key="SENDGRID_ERROR_EMAILFROM" value="blaireau47@HOTMAIL.COM" />
      <add key="SENDGRID_ERROR_EMAILTO" value="blaireau47@HOTMAIL.COM" />
    
    <add key="TEMPLATEID_SENDGRID_EQUIPEVIDEO_EMAIL" value="74d8d329-e8ee-4c40-bf95-d6d4f51de059" />
    <add key="FROM_EQUIPEVIDEO_EMAIL" value="blaireau47@HOTMAIL.COM" />
    <add key="FROM_NAME_EQUIPEVIDEO_EMAIL" value="Opération Nez Rouge" />
    <add key="SUBJECT_EQUIPEVIDEO_EMAIL" value="Votre soirée en vidéo et en chiffres" />
    

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>